<section class = container>
  <h3>プロフィール</h3>

  <div class = user_container >
    <%= render "shared/partial" %>
    <div class = user_setting_container >
      <div class = user_setting_container_top >
        <h3>プロフィール</h3>
      </div>
  <%= form_with model: @user do |f| %>
    <table>
      <tr>
        <th><%= f.label :icon_img ,"アイコン画像" %></th>
        <td><%= image_tag current_user.icon_img.to_s %></td>
        <td><%= f.file_field :icon_img %></td>
        
      </tr>
      <tr>
        <th><%= f.label :name ,"名前" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :introduction ,"自己紹介" %></th>
        <td><%= f.text_area :introduction %></td>
      </tr>
    </table>

    <div>
      <ul>
        <li><%= f.submit "保存", class: 'save_button' %></li>
        <li><%= link_to "キャンセル", :users_profile, class: 'cansel_button' %></li>
      </ul>
    </div>
  <% end %>
  </div>
</section>