<section>
  <div class = ReservationConfirmContainer >
    <h3>予約内容の確認</h3>
    <div class = ReservationConfirmGroup >
      <p>チェックイン</p>
      <p><%= @reservation.checkin %></p>
    </div>
    <div class = ReservationConfirmGroup >
      <p>チェックアウト</p>
      <p><%= @reservation.checkout %></p>
    </div>
    <div class = ReservationConfirmGroup >
      <p>日数</p>
      <p><%= (@reservation.checkout - @reservation.checkin).to_i %></p>
    </div>
    <div class = ReservationConfirmGroup >
      <p>人数</p>
      <p><%= @reservation.number_people %></p>
    </div>
    <div class = ReservationConfirmGroup >
      <p>お支払い金額</p>
      <p>¥<%= (@reservation.checkout - @reservation.checkin).to_i * @reservation.number_people * @room.price %></p>
    </div>
    <div class = ReservationConfirmGroup >
      <p>上記内容で正しければ「確定」ボタンを押してください</p>
    </div>
    <div class = ReservationConfirmButton>
      <%= form_with model: @reservation do |f| %>
        <%= f.hidden_field :checkin %> 
        <%= f.hidden_field :checkout %>
        <%= f.hidden_field :number_people %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "予約を確定する", class: 'save_button' %>
        <%= f.submit "キャンセル", name: "back", class: 'cansel_button' %>
      <% end %>
    </div>
      
  </div>
</section>