<h3>施設情報の編集</h3>

    <%= form_with model: @room do |f| %>
      <table>
        <tr>
          <th><%= f.label :room_name ,"施設名" %></th>
          <td><%= f.text_field :room_name %></td>
        </tr>

        <tr>
          <th><%= f.label :room_detail ,"施設詳細" %></th>
          <td><%= f.text_field :room_detail %></td>
        </tr>

        <tr>
          <th><%= f.label :price ,"料金" %></th>
          <td><%= f.text_field :price %></td>
        </tr>

        <tr>
          <th><%= f.label :address ,"住所" %></th>
          <td><%= f.text_field :address %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "保存"%></li>
          <li><%= link_to "キャンセル", :back %></li>
        </ul>
      </div>
    <% end %>