<div>検索欄</div>

<section>

  <div class = room_show_container>
    <ul class = room_show_container_top>
      <li><%= link_to '←戻る', :back %><li>
      <li><%= link_to '編集', edit_room_path(@room.id) %></li>
    </ul>
  <div class = main_show_container>
    <div><%= image_tag @room.room_img_url, class: 'show_room_img' %></div>
    <div class = room_detail_body>
      <div class = room_name_price>
        <p><%= @room.room_name %></p>
        <p><%= @room.price %></p>
      </div>
      <p><%= @room.address %></p>
      <%= image_tag 'star.svg' %>
      <%= image_tag 'star.svg' %>
      <%= image_tag 'star.svg' %>
      <%= image_tag 'star.svg' %>
      <%= image_tag 'star.svg' %>
      <p><%= @room.room_detail %></p>


      <div class = reservationform_container>
        <%= form_with model: @reservation, url: confirm_reservations_path, class: "ReservationForm" do |f| %>
          <div class = ReservationFormInput>
            <ul>
              <li><%= f.label :checkin ,"開始日" %></li>
              <li><%= f.date_field :checkin %></li>
            </ul>
            <ul>
              <li><%= f.label :checkout ,"開始日" %></li>
              <li><%= f.date_field :checkout %></li>
            </ul>
            <ul>
              <li><%= f.label :number_people ,"人数" %></li>
              <li><%= f.text_field :number_people %></li>
            </ul>
          </div>
          <%= f.hidden_field :room_id, value: @room.id %>
          <ul>
            <li><%= f.submit "予約する", class: 'ReservationFormSaveButton'%></li>
          </ul>
        <% end %>
      </div>
    
    </div>
  </div>

  </div>
</section>